Repository system-ui/theme-ui, pull requests merged in 2021-05, with the labels that each got.

#1752 hotfix docs recipes
  .eslintrc.js
  .github/CODEOWNERS
  package.json
  packages/docs/.gitignore
  packages/docs/gatsby-config.js
  packages/docs/package.json
  packages/docs/src/pages/recipes/_index.mdx
  packages/docs/src/pages/recipes/button.mdx
  packages/docs/src/pages/recipes/centered-container.mdx
  packages/docs/src/pages/recipes/css-grid.mdx
  packages/docs/src/pages/recipes/demo.js
  packages/docs/src/pages/recipes/flexbox-layout.mdx
  packages/docs/src/pages/recipes/flexbox-sidebar.mdx
  packages/docs/src/pages/recipes/footer-a1.mdx
  packages/docs/src/pages/recipes/footer-a2.mdx
  packages/docs/src/pages/recipes/footer-a3.mdx
  packages/docs/src/pages/recipes/footer-a4.mdx
  packages/docs/src/pages/recipes/gatsby-link.mdx
  packages/docs/src/pages/recipes/grid.mdx
  packages/docs/src/pages/recipes/header-a1.mdx
  packages/docs/src/pages/recipes/header-a2.mdx
  packages/docs/src/pages/recipes/header-a3.mdx
  packages/docs/src/pages/recipes/header-a4.mdx
  packages/docs/src/pages/recipes/header-a5.mdx
  packages/docs/src/pages/recipes/index.js
  packages/docs/src/pages/recipes/mdx-table-align.mdx
  packages/docs/src/pages/recipes/notes.mdx
  packages/docs/src/pages/recipes/post-list-a1.mdx
  packages/docs/src/pages/recipes/post-list-a2.mdx
  packages/docs/src/pages/recipes/stack.mdx
  packages/docs/src/pages/recipes/tiled-layout.mdx
  packages/gatsby-theme-code-recipes/CHANGELOG.md
  packages/gatsby-theme-code-recipes/gatsby-config.js
  packages/gatsby-theme-code-recipes/gatsby-node.js
  packages/gatsby-theme-code-recipes/package.json
  packages/gatsby-theme-code-recipes/src/query.js
  packages/gatsby-theme-code-recipes/src/recipe.js
  packages/gatsby-theme-style-guide/index.js
  packages/theme-ui/README.md
  yarn.lock
Labels: affects-docs, bug, skip-release

#1376 feat(docs): Algolia DocSearch integration
  .gitignore
  packages/docs/gatsby-ssr.js
  packages/docs/src/components/layout.js
  packages/gatsby-plugin-theme-ui/README.md
Labels: affects-docs

#1721 modernize Babel config
  babel.config.js
  packages/preset-base/babel.config.js
  packages/preset-bootstrap/babel.config.js
  packages/sidenav/babel.config.js
  packages/typography/babel.config.js
Labels: minor

#1783 Docs: Move homepage to root path
  packages/docs/src/components/layout.js
  packages/docs/src/pages/home.mdx
  packages/docs/src/pages/index.mdx
Labels: documentation
